/* Set Brand Colors */
:root {
  --theme-brand: #001b2c;
  --theme-primary: #007db6;
  --theme-primary-hover: #004b7e;
  --theme-primary-text: #fff;
  --theme-primary-text-hover: #fff;
  --theme-secondary: #5b6770;
  --theme-secondary-hover: #fff;
  --theme-secondary-text: #fff;
  --theme-secondary-text-hover: #5b6770;
  --theme-tertiary: #cfb36d;
  --theme-text: #000;
  --theme-text-light: #4e5356;
  --theme-footer: #001b2c;
  --theme-success: #45634f;
  --theme-error: #9e2432;
}

.omniscript-article {
  /* Set Lightning Design Tokens  */
  --slds-c-button-brand-color-background: var(--theme-primary);
  --slds-c-button-brand-color-border: var(--theme-primary);
  --slds-c-button-brand-color-background-hover: var(--theme-primary-hover);
  --slds-c-button-brand-color-border-hover: var(--theme-primary-hover);
  --slds-c-button-brand-text-color-hover: #fff;
  --slds-c-button-text-color: var(--theme-primary);
  --slds-c-button-text-color-hover: #001b2c;
  --sds-c-radio-color-border-focus: var(--theme-primary-hover);
  --sds-c-radio-shadow-focus: var(--theme-primary-hover);

  /* Remove vertical padding from any block elements whose name starts with FormBlock */
  [data-omni-key^="FormBlock"] .slds-accordion__section {
    padding: 0;
  }

  /* Remove empty accordion header */
  [data-omni-key^="FormBlock"] .slds-accordion__summary {
    display: none;
  }

  [data-omni-key^="FormBlock"] .omni-block_content,
  [data-omni-key="CaseCommonFields"] .omni-block_content {
    padding: 0;
  }

  /* Add padding around button images */
  .slds-img-item {
    padding: 10px;
  }

  /* Update radio image colors */
  .slds-radio_custom-group.slds-img-wrapper_cont
    input[type="radio"]:checked
    + label.slds-img_no-width-height {
    border-color: var(--theme-primary) !important;
  }
}

/* Aligns Prev/Next CTAs to center */
.omniscript-button-position {
  justify-content: flex-start !important;
}

/* Aligns Cancel/Save for Later actions to center */
.omniscript-sfl-actions {
  text-align: right;
}

/* Hides underline under step header */
.vlc-separator[omnistudio-omniscriptStep_omniscriptStep] {
  display: none;
}
